body {
  margin: 0;
  font-family: 'Exo', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(64, 224, 208, 0.25);
  border-radius: 10px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #9c27b0;
  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #9c27b0;
}
